In [1]:
#import numpy as np
#import scipy
#from tensorflow.keras import models, layers, utils, Backend as K
#import matplotlib.pyplot as plt
#import shap
#import tensorflow as tf
import os
#from pathlib import Path
import pandas as pd

# def get_images(foldername):
#     images = []
#     for filename in os.listdir(foldername):
#         img = cv2.imread(os.path.join(foldername,filename))
#         if img is not None:
#             images.append(img)

In [2]:
testing = pd.read_csv('https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv')
testing.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
#path = os.path.abspath('https://github.com/logduh/Math4020/blob/main/MovieGenre.csv')
#print(path)
testing = pd.read_csv('/home/logan/Downloads/MovieGenre.csv', encoding = "ISO-8859-1")
testing.head()

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

In [ ]:
testing.tail()